<div class="nav-dropdown more-dropdown">
  <a href="{{ "resources/" | relLangURL }}" class="more-trigger" aria-haspopup="true">{{ i18n "more" }} <span class="nav-chevron">⌄</span></a>
  <div class="dropdown-menu more-menu">
    <a href="{{ "resources/" | relLangURL }}">{{ i18n "learning_resources" }}</a>
    <a href="{{ "thanks/" | relLangURL }}">{{ i18n "thanks" }}</a>
    <a href="https://cloud.umami.is/share/XrptZILB59b04GvS" target="_blank" rel="noopener">{{ i18n "site_stats" }} ↗</a>
  </div>
</div>
